{
  "extends": "airbnb/base",

  "parser": "babel-eslint",

  "env": {
    "mocha": true
  },

  "rules": {
    "id-length": [2, {"min": 2, "properties": "never", "exceptions": ["n", "x", "y"]}],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}]
  }
}
